# For add new project use the follow command:
# git add .
# For updates use:
# git add -u 

.svn
.svn/*

# OSX
.DS_Store

### Backups:
*~
*.bak
*.old
*.lnk
*\#
\#*
Thumbs.db
Thumbs.db.meta

# Win Specific:
Desktop.ini

# Sound Forge metafile
*.sfk


### Hyperlua
*.lc

### Visual Studio:
*.csproj
*.sln
*.suo
*.pidb
Properties/AssemblyInfo.cs
*.user

*.Resharper*
_ReSharper.*/*

### Unity Specific:
*.unityproj
*.userprefs
Library/*

!:

## but include: (not in 3.5+)
#!Library/EditorBuildSettings.asset
#!Library/InputManager.asset
#!Library/ProjectSettings.asset
#!Library/QualitySettings.asset
#!Library/TagManager.asset
#!Library/TimeManager.asset
#!Library/AudioManager.asset
#!Library/DynamicsManager.asset
#!Library/NetworkManager.asset



Assets/Temp/*
Assets/Temp*
Temp/*
obj/*

### Project Specific:
*/bin/*
*/obj/*

# dll project
!nunit-dll-project/nunit-dll-project.csproj
!nunit-dll-project/nunit-dll-project.sln


